



                <!-- Button Modal -->
                <!-- Modal Content -->

                <div class="modal fade" id="modal-form-signup" tabindex="-1" role="dialog" aria-labelledby="modal-form-signup12" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body p-0">
                                <div class="card bg-primary shadow-soft border-light p-4">
                                    <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <div class="card-header text-center pb-0">
                                        <h2 class="mb-0 h5">Hold your horses, partner!</h2>
                                    </div>
                                    <p>
                                    We are not quite ready with a public release. We are working with a few selected design partners, and we always happy to chat if you're planning on implementing a Backstage based IDP, or have already done so.
                                    </p>

                                    <div class="card-body">
                                        <form
                                        action="https://formspree.io/f/mvonjjlj"
                                        method="POST"
                                        >
                                            <!-- Form -->
                                            <div class="form-group">
                                                <label for="exampleInputIcon4">Your email</label>
                                                <div class="input-group mb-4">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><span class="fas fa-envelope"></span></span>
                                                    </div>
                                                    <input class="form-control" id="Email" name="email" placeholder="example@company.com" type="text" aria-label="email address" required>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputIcon1">Your name</label>
                                                <div class="input-group mb-4">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><span class="fa fa-user"></span></span>
                                                    </div>
                                                    <input class="form-control" id="Name" name="name" placeholder="Name" type="text" aria-label="Input with icon left" required>
                                                </div>
                                            </div>
                                            <fieldset>
                                                <legend class="h6">In my organization there are </legend>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="engineers" id="100less" value="100less">
                                                    <label class="form-check-label" for="100less">
                                                        Less than 100 developers
                                                    </label>
                                                    </div>
                                                    <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="engineers" id="100more" value="100more">
                                                    <label class="form-check-label" for="100more">
                                                        More than 100 developers
                                                    </label>
                                                    </div>

                                            </fieldset>
                                            <p></p>
                                            <button type="submit" class="btn btn-block btn-primary">Send (We reply to all messages)</button>
                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modal-form-signup-first" tabindex="-1" role="dialog" aria-labelledby="modal-form-signup-first1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body p-0">
                                <div class="card bg-primary shadow-soft border-light p-4">
                                    <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <div class="card-header text-center pb-0">
                                        <h2 class="mb-0 h5">Hold your horses, partner!</h2>
                                    </div>
                                    <p>
                                    We are not quite ready with a public release. We are working with a few selected design partners, and we always happy to chat if you're planning on implementing a Backstage based IDP, or have already done so.
                                    </p>

                                    <div class="card-body">
                                        <form
                                        action="https://formspree.io/f/mvonjjlj"
                                        method="POST"
                                        >
                                            <!-- Form -->
                                            <div class="form-group">
                                                <label for="exampleInputIcon4">Your email</label>
                                                <div class="input-group mb-4">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><span class="fas fa-envelope"></span></span>
                                                    </div>
                                                    <input class="form-control" id="Email" name="email" placeholder="example@company.com" type="text" aria-label="email address" required>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputIcon1">Your name</label>
                                                <div class="input-group mb-4">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><span class="fa fa-user"></span></span>
                                                    </div>
                                                    <input class="form-control" id="Name" name="name" placeholder="Name" type="text" aria-label="Input with icon left" required>
                                                </div>
                                            </div>
                                            <fieldset>
                                                <legend class="h6">In my organization there are </legend>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="engineers" id="100less" value="100less">
                                                    <label class="form-check-label" for="100less">
                                                        Less than 100 developers
                                                    </label>
                                                    </div>
                                                    <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="engineers" id="100more" value="100more">
                                                    <label class="form-check-label" for="100more">
                                                        More than 100 developers
                                                    </label>
                                                    </div>

                                            </fieldset>
                                            <p></p>
                                            <button type="submit" class="btn btn-block btn-primary">Send (We reply to all messages)</button>
                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="modal-form-kcd" tabindex="-1" role="dialog" aria-labelledby="modal-form-kcd" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body p-0">
                                <div class="card bg-primary shadow-soft border-light p-4">
                                    <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <div class="card-header text-center pb-0">
                                        <img style="margin-bottom: 15px;" src="https://res.cloudinary.com/startup-grind/image/upload/c_fill,w_500,h_500,g_center/c_fill,dpr_2.0,f_auto,g_center,q_auto:good/v1/gcs/platform-data-cncf/events/kcdLogo_2ALo5Dl.png">

                                        <h2 class="mb-0 h5">KCD Austria 2023 SWAG Raffle </h2>
                                    </div>
                                    <p>
                                        Embrace the excitement and dive into our SWAG raffle for the chance to snag some truly awesome goodies that will elevate your style.
                                    </p>

                                    <div class="card-body">
                                        <form action="https://formspree.io/f/mvonjjlj" method="POST">
                                            <div class="form-group">
                                                <label for="exampleInputIcon1">Your name</label>
                                                <div class="input-group mb-4">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><span class="fa fa-user"></span></span>
                                                    </div>
                                                    <input class="form-control" id="Name" name="name" placeholder="Name" type="text" aria-label="Input with icon left" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputIcon4">Your email</label>
                                                <div class="input-group mb-4">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><span class="fas fa-envelope"></span></span>
                                                    </div>
                                                    <input class="form-control" id="Email" name="email" placeholder="example@company.com" type="text" aria-label="email address" required>

                                                </div>
                                            </div>
                                            <input  class="form-control" id="Name" name="form" value="jfrog SwampUP 2023" type="hidden" aria-label="Input with icon left">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="RequestMoreInfo" checked aria-checked="true">
                                                <label class="custom-control-label" for="customSwitch1">I'm interested to learn more about StageCentral and Backstage technologies.</label>
                                                </div>
                                            <p></p>
                                            <button type="submit" class="btn btn-block btn-primary">Send (We reply to all messages)</button>
                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

