<div class="section section-lg @@classes pb-0">
    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col">
                <h2 class="h5">Sign Up to Get Notified When We Release Our Beta</h2>
            </div>
        </div>
        <!-- End of Title -->
    </div>
</div>

<!-- Section -->
<div class="section section-lg pt-4">
    <div class="container">
        <div class="row mb-4 mb-lg-5">
            <div class="col-lg-4 col-sm-6">
                <!-- Form -->
                
                <div class="form-group mb-4">
    
                    <form
                    action="https://formspree.io/f/mvonjjlj"
                    method="POST"
                    >
                    <label for="Email">Email address</label>
                        <input type="email" name="email" class="form-control" id="Email" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </label>
                    <label for="Name">Your Name:</label>   
                        <input type="name" name="name" class="form-control" id="Name" aria-describedby="nameHelp">
                        <small id="emailHelp" class="form-text text-muted">What should we call you?</small>
                    </label>
                    <br>
                    <label>
                        How many engineers are there in your software org?
                        </label>
                         <br>
                      
                        <input type="radio" id="lt200" name="engineers" value="lt200">
                        <label for="lt200">Less than 200</label><br>
                        <input type="radio" id="mt200" name="engineers" value="mt200">
                        <label for="mt200">More than 200</label><br>
                    <!-- your other form fields go here -->
                    <button type="submit">Send</button>
                </form>
            </div>
          
