<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>@@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="@@title">
<meta name="author" content="StageCentral">


<!--  Social tags -->
<meta name="keywords" content="Backstage, IDP, Internal Developer Platform, Internal Developer Portal, Backstage Support, Backstage Services, Backstage Simple, Backstage Install, Backstage Plugins">
<meta name="description" content="StageCentral is an open-source software distribution of Backstage, built to run on Kubernetes. Created for platform teams that don't have time to waste.">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="StageCentral - Backstage powered Developer Portal">
<meta itemprop="description" content="StageCentral is an open-source software distribution of Backstage, built to run on Kubernetes. Created for platform teams that don't have time to waste.">
<meta itemprop="image" content="@@path/assets/img/stagecentral-site.png">

<!-- Twitter Card data -->
<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@StageCentral_io">
<meta name="twitter:title" content="StageCentral - Backstage powered Developer Portal">
<meta name="twitter:description" content="StageCentral is an open-source software distribution of Backstage, built to run on Kubernetes. Created for platform teams that don't have time to waste.">
<meta name="twitter:creator" content="@StageCentral_io">
<meta name="twitter:image" content="@@path/assets/img/stagecentral-site.png">

<!-- Open Graph data -->
<meta property="fb:app_id" content="214738555737136">
<meta property="og:title" content="StageCentral - Backstage powered Developer Portal" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://stagecentral.io/" />
<meta property="og:image" content="@@path/assets/img/stagecentral-site.png"/>
<meta property="og:description" content="StageCentral is an open-source software distribution of Backstage, built to run on Kubernetes. Created for platform teams that don't have time to waste." />
<meta property="og:site_name" content="StageCentral" />

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="@@path/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="@@path/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="@@path/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="@@path/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="@@path/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="@@path/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Pixel CSS -->
<link type="text/css" href="@@path/css/neumorphism.css" rel="stylesheet">

<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
@@if (environment === 'production') {
    @@include('./_analytics.html')
}