<footer class="d-flex pb-5 pt-6 pt-md-7 border-top border-light @@classes">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <p><strong>StageCentral</strong> is a Kubernetes-based open-source software distribution of Backstage.</p>
                <ul class="d-flex list-unstyled mb-5 mb-lg-0">
                    <li class="mr-2">
                        <a href="https://twitter.com/stagecentral_io" target="_blank" class="btn btn-icon-only btn-pill btn-primary" aria-label="twitter social link"
                        data-toggle="tooltip" data-placement="top" title="Follow @stagecentral_io on Twitter">
                            <span aria-hidden="true" class="fab fa-twitter"></span>
                        </a>
                    </li>
                    <li class="mr-2">
                        <a href="https://github.com/stagecentral" target="_blank" class="btn btn-icon-only btn-pill btn-primary" aria-label="github social link"
                        data-toggle="tooltip" data-placement="top" title="Open source projects">
                            <span aria-hidden="true" class="fab fa-github"></span>
                        </a>
                    </li>
                </ul>
            </div>
<div class="row">
            <div class="col">
            </div>
        </div>
    </div>
</footer>